<script lang="ts" setup>
import { ref, onMounted } from 'vue'
import type { ICard } from '@/types'
import { useCardStore } from '@/stores/card'
import useCardTransactions from '@/composables/useCardTransactions'
import useSearchTransctions from '@/composables/useSearchTransctions'
import CardItem from '@/components/CardItem.vue'
import SearchComponent from '@/components/SearchComponent.vue'
import CardTransaction from '@/components/CardTransaction.vue'
import { useRouter } from 'vue-router'

// Data
const card = ref<ICard>()

// Props
const props = defineProps<{
  id: string
}>()

// Composables
const { loadTransactions, transactions } = useCardTransactions(props.id)
const { updateSearch, availableAmountItems } = useSearchTransctions(
  transactions,
  'amount'
)

// Store
const storeCard = useCardStore()

// Mehods
const findCard = () => {
  const cardExists = storeCard.getCardById(props.id)
  if (cardExists) {
    card.value = cardExists
    loadTransactions()
  } else {
    useRouter().push({ path: '/' })
  }
}

// Life Cycle Hoosks
onMounted(() => {
  findCard()
})
</script>
<template>
  <main class="card">
    <CardItem v-if="card" :data="card" />
    <SearchComponent v-if="card" @search="updateSearch($event)" />

    <div
      class="transaction-list"
      :class="{ 'is-business': storeCard.isBusiness(id) }"
      v-if="availableAmountItems.length"
    >
      <CardTransaction
        v-for="transaction in availableAmountItems"
        :data="transaction"
        :key="transaction.id"
        :id="props.id"
      />
    </div>
  </main>
</template>

<style scoped lang="scss">
.transaction-list {
  padding: 1rem;

  &.is-business {
    background: var(--color-background-business);
    color: var(--vt-c-black-mute);
  }
}
</style>
