<script setup lang="ts">
import { onMounted } from 'vue'
import useCards from '@/composables/useCards'
import CardList from '@/components/CardList.vue'
import { useCardStore } from '@/stores/card'

// Composables
const { cards, error, isLoading, loadCards } = useCards()

// Store
const storeCard = useCardStore()

// Methods
const saveCardsToStore = () => {
  if (cards.value.length) {
    storeCard.setCards(cards.value)
  }
}

// Life Cycle Hoosks
onMounted(() => {
  // Use Fake delay for realistic effect.
  setTimeout(async () => {
    await loadCards()
    saveCardsToStore()
  }, 1100)
})
</script>

<template>
  <main>
    <div v-if="isLoading">Loading...</div>
    <CardList v-if="cards.length" :data="cards" />
    <div v-if="error">{{ error }}</div>
  </main>
</template>
