<script lang="ts" setup>
import type { ITransaction } from '@/types'

// Props
defineProps<{
  data: ITransaction
  id: string
}>()
</script>

<template>
  <div class="card-transaction">
    <div>{{ data.description }}</div>
    <div>{{ data.amount }}</div>
  </div>
</template>
<style scoped lang="scss">
.card-transaction {
  display: flex;
  justify-content: space-between;
}
</style>
