<script setup lang="ts">
import type { ICard } from '@/types'
import CardItem from '@/components/CardItem.vue'

defineProps<{
  data: ICard[]
}>()
</script>

<template>
  <div class="card-list">
    <RouterLink
      v-for="card in data"
      :key="card.id"
      :to="{ name: 'card-detail', params: { id: card.id } }"
      ><CardItem :data="card"
    /></RouterLink>
  </div>
</template>
<style scoped lang="scss">
.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  & a {
    &:hover {
      background-color: transparent;
    }
  }
  .card {
    margin-bottom: 2rem;
  }
}
</style>
