<script lang="ts" setup>
import { ref } from 'vue'
import type { ICard } from '@/types'
import useCards from '@/composables/useCards'
import { useCardStore } from '@/stores/card'

// Data
const cardIsBusinessType = ref(false)

// Props
const props = defineProps<{
  data: ICard
}>()

// Composables
const { findInDescription } = useCards()
const storeCard = useCardStore()

cardIsBusinessType.value = findInDescription(props.data, 'business')

if (cardIsBusinessType.value) {
  storeCard.addBusinessCard(props.data.id)
}
</script>

<template>
  <div class="card" :class="{ 'is-business': storeCard.isBusiness(data.id) }">
    {{ data.description }}
  </div>
</template>

<style scoped lang="scss">
.card {
  border: 1px solid var(--color-border);
  background: var(--color-background);
  border-radius: 8px;
  padding: 1rem 2rem;
  width: 400px;
  height: 240px;

  &.is-business {
    background: var(--color-background-business);
    color: var(--vt-c-black-mute);
  }
}
</style>
