<script lang="ts" setup>
import { ref } from 'vue'

// Data
const searchQuery = ref('')

// Emits
const emits = defineEmits(['search'])
</script>

<template>
  <div class="content">
    <div class="control has-icons-right">
      <input
        type="text"
        placeholder="Search"
        class="input"
        @keyup="() => emits('search', searchQuery)"
        v-model="searchQuery"
      />
    </div>
  </div>
</template>
<style scoped lang="scss">
input {
  border: 1px solid var(--color-border);
  background: var(--color-background);
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  margin: 2rem auto;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}
</style>
