<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <RouterLink to="/">
      <img
        alt="DKB logo"
        class="logo"
        src="@/assets/logo.svg"
        width="125"
        height="125"
      />
    </RouterLink>
  </header>

  <RouterView />
</template>

<style scoped lang="scss">
header {
  line-height: 1.5;
  max-height: 100vh;
  .logo {
    display: block;
    margin: 0 auto 2rem;
  }
  a {
    &:hover,
    &.router-link-exact-active:hover {
      background-color: transparent;
    }
  }
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
    .logo {
      margin: 0 2rem 0 0;
    }
  }
}
</style>
